name: Build and publish Test API

on:
  push:
    branches:
      - test

jobs:
  build_and_publish:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN}}

      - name: Build and push API docker image
        run: docker build --push --platform linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.api:test -f FFXIVVenues.Api/Dockerfile .

      - name: Build and push OGData docker image
        run: docker build --push --platform linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/ffxivvenues.ogcard:test -f FFXIVVenues.OGCard/Dockerfile .

